<%= @mechanic.name %>
<%= @mechanic.years_experience %>

<h3>Rides</h3>
<% @open_rides.each do |ride| %>
  <%= ride.name %>
<% end %>

<h3>Add a ride to workload</h3>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :post, local: true do |f| %>
  <%= f.label :ride_id, 'Ride ID' %>
  <%= f.text_field :ride_id %>
  <%= f.submit 'Submit'%>
<% end %>
