<h1><%= @mechanic.name %></h1>
<h3>Years of Experience: <%= @mechanic.years_experience %></h3>
<h3><%= @mechanic.name %></h3>
<h3>Current rides they're working on: </h3>
<% @rides_by_mechanic.each do |ride| %>
  <h4><%= ride.name %></h4>
  <p>Thrill Rating: <%= ride.thrill_rating %></p>
<% end %>

<h6>Add a ride to workload:</h6>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :post, local: true, params: {ride_id:""} do |form| %>
  <%= form.label :ride_id %>
  <%= form.number_field :ride_id %><br><br>
  <%= form.submit "Submit" %>
<% end %>
