<h1><%= @mechanic.name %></h1>
<p><%= @mechanic.years_of_experience %></p>

<h3>All Rides</h3>
<div id="all-rides">
  <% @mechanic.rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</div>

<h3>Open Rides</h3>

<div id="open-rides">
  <% @mechanic.open_rides.each do |ride| %>
    <p><%= ride.name %></p>
    <ul><li><%= ride.thrill_rating %></li></ul>
  <% end %>
</div>
