<h1>Mechanic Info</h1>

<ul>
  <li><%= "Name: #{@mechanic.name}" %></li>
  <li><%= "Years Experience: #{@mechanic.experience}" %></li>
  <li><%= "Rides #{@mechanic.name} is working on:" %>
    <ul>
      <% @rides.each do |ride| %>
        <li><%= ride.name %></li>
      <%end%>
    </ul>
</ul>

<h3><%= "Add a Ride to #{@mechanic.name}'s Workload" %> </h3>

<%= form_with url:"/mechanics/#{@mechanic.id}", method: :post, local: true do |f| %>
    <%= f.label :ride_ID%>
    <%= f.number_field :ride_ID%>

    <%= f.hidden_field :mechanic_id, value: @mechanic.id  %>

    <%= f.submit "Submit" %>
<%end%>
